<div class="about-container">
  <div class="slogan">
    <h2>Stronger Together Against Illness</h2>
    <h3>Share, Learn & Contribute to medical advancements</h3>
  </div>
  
  <app-search ></app-search>

  <div class="seperation"></div>

  <div class="join-section">
    <p>Join the 500,000 patients</p>
    <button class="sign-up-button">Sign up</button>
  </div>

  <div class="seperation"></div>

  <div class="about">
    <h3>ABOUT US</h3>
    <p>
      Our application, CareShare, is a platform for sharing experiences related to the care of various 
      medical conditions. At CareShare, we  bring together a community of patients who exchange information, 
      support  one another, and contribute to the progress of medical research. With  over 500,000 registered 
      members, CareShare provides a space where  individuals can share their journeys, access valuable insights, 
      and play  an active role in advancing healthcare.


    </p>

    <h3>WHAT WE BELIEVE</h3>

    <p>
      We believe in the power of community and the importance of shared  experiences. Every patient's story is 
      valuable and can inspire and  inform others facing similar challenges. We are committed to fostering a  
      supportive environment where members can connect, learn, and grow  together. By uniting our voices, we 
      strive to drive meaningful  advancements in medical care and improve the quality of life for all  patients.
    </p>


  </div>
</div>
