<div class="blog-list">
    <div  class="blog-item">
      <div class="blog-header">
        <span class="blog-tag">#Diabete</span>
        <span class="blog-category">Experience</span>
      </div>
      <div class="blog-title">
        Vitamine D et diabète de type 2, y a-t-il un intérêt ?
      </div>
    </div>
    
    <div  class="blog-item">
      <div class="blog-header">
        <span class="blog-tag"></span>
        <span class="blog-category"></span>
      </div>
      <div class="blog-title">

      </div>
    </div>
  </div>
  