<div class="blog-list">
    <div  class="blog-item">
      <div class="blog-header">
        <span class="blog-tag">#Diabete</span>
        <span class="blog-category">Experience</span>
      </div>
      <div class="blog-title">
        Vitamine D et diabète de type 2, y a-t-il un intérêt ?
      </div>
      <div class="blog-footer">
        <span class="blog-likes">5</span>
        <span class="blog-comments">5</span>
        <span class="blog-edit"><i class="edit-icon"></i></span>
      </div>
    </div>
  </div>
  