<div class="tags-box">
    <h2>Register form</h2>
    <div class="card">
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="user.email" name="email" required>
        </div>
        <div>
            <label for="password">Mot de passe:</label>
            <input type="password" id="password" [(ngModel)]="user.password" name="email" required>
        </div>
    </div>
    <button class="see-more" (click)="register()">register</button>
    <h5>Vous avez déjà un compte? <a routerLink="/myprofile">connectez vous!</a></h5>
</div>
